@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Tom Bedford Web Portfolio</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project - Maps</h2>
        <p>You can download this project code from GitHub.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Download the source code &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project - Image Analysis</h2>
        <p>You can download this project code from GitHub.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Download the source code &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project - Crazy Styles</h2>
        <p>You can download this project code from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Download the source code &raquo;</a></p>
    </div>
</div>
