@{
    ViewData["Title"] = "Index";
}



    <table class="homepage_images">
        <tbody>
            <tr>
                <td>
                    <img src="~/images/NLB_628674103EDR_F0780000NCAM00354M_.jfif" class="rounded-circle" height="400" width="400" asp-append-version="true" />
                </td>
                <td>
                    <img src="~/images/NRB_628498570EDR_F0772954NCAM00289M_.jfif" class="rounded-circle" height="400" width="400" asp-append-version="true" />
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/NRB_628745837EDR_S0780000NCAM00594M_.jfif" class="rounded-circle" height="400" width="400" asp-append-version="true" />
                </td>
                <td>
                    <img src="~/images/2604MH0007060021000203C00_DXXX.jpg" class="rounded-circle" height="400" width="400" asp-append-version="true" />
                </td>
            </tr>
        </tbody>
    </table>