@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Portfolio_Web</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Portfolio Web</h2>
        <p>
            This application demonstrates web projects and developments
            achieved by Thomas Bedford. The application is aimed a reflecting
            web developemnt skills and as an online reference to others looking
            to develop the demonstrated skills.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Project-1</h2>
        <p>You can download this project code from GitHub.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Download the source code &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project-2</h2>
        <p>You can download this project code from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Download the source code &raquo;</a></p>
    </div>
</div>