@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <environment>
        <link rel="stylesheet" href="~/css/JSAnimations.css" />
    </environment>
</head>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="main">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
</div>