
@{
    ViewData["Title"] = "SwitchController";
}

<h1>SwitchController</h1>

<table class="sc_buttonpanel">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/images/Button_On.png" class="rounded-circle" height="100" width="100" asp-append-version="true" />
            </td>
            <td>
                <img src="~/images/Button_Off.png" class="rounded-circle" height="100" width="100" asp-append-version="true" />
            </td>
            <td>
                <img src="~/images/Button_Off.png" class="rounded-circle" height="100" width="100" asp-append-version="true" />
            </td>
            <td>
                <img src="~/images/Button_Off.png" class="rounded-circle" height="100" width="100" asp-append-version="true" />
            </td>
        </tr>
    </tbody>
</table>